.headerWrapper{
width: 100%;
height: 1021px; 
position: relative;
}
.headerImage{
    top: 0px;
    left: 0px;
    width: 100%;
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: -1;
}
.header{
 width: 100%;
 height: 100%;
 ;display: grid;
 grid-template-columns: 100%;
 grid-template-rows: repeat(3,max-content);
 padding-top: 60px;
}
.headerMenuContain{
width: 100%;
height: 64px;
display: flex;
justify-content: space-between;
color: #FFF;
font-size: 14px;
font-family: Open Sans;
font-style: normal;
font-weight: 700;
margin-bottom: 201px;
}
.headerNavBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-gap:25px;
}
.cortLince{
    width: 80px;
    height: 55px;
    border-right: 1px solid rgb(207, 191, 191);
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerphone{
 padding-right: 10px;
}
.TextContain{
    width: max-content;
    text-align: center;
    color: #D67E35;
    margin-bottom: 82px;
    display: flex;
    flex-direction: column;
}
.TextContainp1{
    font-family: 'Tinos', serif;
    font-weight: 400;
    font-size: 50px;
}
.TextContainp2{
    font-family: 'Tinos', serif;
    font-weight: 400;
    font-size: 80px;
}
.TextContainp3Wraper{
    width: 100%;
    height: 100%;
    margin: 21px auto;
}
.TextContainp3{
    width: max-content;
    height: max-content;
     font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    position: relative;
    margin: auto;
}
.TextContainp3::before{
    content : '';
    top: 12px;
    right: 181px;
    width: 61px;
    height: 2px;
    background: #fff;
    position: absolute;
 
}
.TextContainp3::after{
    content : '';
    top: 12px;
    right: -74px;
    width: 61px;
    height: 2px;
    background: #fff;
    position: absolute;
}
.button{
    margin: auto;
}
.CardContainer{
    width: 100%;
    height: 100%;
    font-family: 'Tinos', serif;
    font-weight: 400;
    display: grid;
    grid-template-columns: max-content max-content max-content;
    grid-template-rows: 100%;
   grid-column-gap: 30px;
}